apiVersion: v1
data:
  password: {{ hostvars[bmh].bmc_password | b64encode }}
  username: {{ hostvars[bmh].bmc_username | b64encode }}
kind: Secret
metadata:
  name: {{ bmh }}-bmc-secret
  namespace: {{ bmh_namespace | default("openshift-machine-api") }}
type: Opaque
